{% extends 'student/basic.html' %}
{% block title %} Student {% endblock%}

{%block body %}
<div class="container" style="margin-top: 10%;margin-bottom: 10%;">
<form action="/student/handleChangePassword" method="POST" style="background: #0006;padding: 10%;  border-radius: 20px;" class="shadow-lg">
    {% csrf_token %}
    
      <label for="newP">Enter new Paasowrd"</label>
      <input style="background: none;width: 100%;border: none;outline: none;font-size: 20px;font-style: oblique;color: black;border-bottom: 2px solid black;" type="password" class="form-control" name="newP"  placeholder="Enter new Paasowrd">
      <p  style="font-size: 1vw;" id=pass_hintt></p>
<br>
<label for="cnewP">confirm new password</label>
      <input style="background: none;width: 100%;border: none;outline: none;font-size: 20px;font-style: oblique;color: black;border-bottom: 2px solid black;" type="password" class="form-control" name="cnewP"  placeholder="confirm new password">
      <p  style="font-size: 1vw;" id=pass_hint></p>
      
    <button class="btn btn-outline-success rounded shadow-lg" type="submit" >Submit</button>
  </form>
</div>
<style type="text/css">
	::placeholder{
    text-align: center;
  }
  body{
  	background: #0006;
  }
</style>
<script type="text/javascript">
	$('input[name=newP]').keyup(function () {
        'use strict';

        var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})");
        var mediumRegex = new RegExp("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})");

        if (strongRegex.test($(this).val())) 
        {
            $('#pass_hintt').html('<i class="fa fa-check"></i> Strong Password');
            document.getElementById("pass_hintt").style.color = "blue";
            this.setCustomValidity('');
        }
        else if(mediumRegex.test($(this).val()))
        {
              $('#pass_hintt').html('Medium Password');
              document.getElementById("pass_hintt").style.color = "yellow";
              this.setCustomValidity('Passwords must strong');
        }
        else 
        {
            $('#pass_hintt').html('Password must contain one lower,one upper, one numeric and one special character');
            document.getElementById("pass_hintt").style.color = "red";
            this.setCustomValidity('Passwords must strong');
        }
});
	$('input[name=cnewP]').keyup(function () {
    'use strict';

    if ($('input[name=newP]').val() === $(this).val()) {
        $('#pass_hint').html('<i class="fa fa-check"></i> Matched');
        document.getElementById("pass_hint").style.color = "blue";
        this.setCustomValidity('');

    } else {
        $('#pass_hint').html('<i class="fa fa-times"></i> Not matching');
        document.getElementById("pass_hint").style.color = "red";
        this.setCustomValidity('Password must match');
    }
});
</script>

{% endblock %}