{% extends 'student/basic.html' %}
{% block title %} Student {% endblock%}

{%block body %}

<div class="container-fluid" style="padding-bottom: 100px;margin-top: 20px;">
  <div style="float: right;background-color: grey;padding: 20px;">Quiz &nbsp; will end <br> <div id="quiz-time-left"></div></div>
</div>
<div class="container rounded shadow-lg" style="margin-top: 6%;padding-bottom: 2%;margin-bottom: 20%;">
  <div style="text-align: center;margin-bottom: 20px;">
  <a class="rounded text-light btn-block" style="padding: 2%;background-color: black;" >QuestionPaper</a>
  </div>
  <br><br><br>
  <form id="ashishform" class="was-validated" action="handleLiveAttemptQuiz" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
    {% for obj in q %}
    
      <p class="text-body" style="text-align: left;">Question-{{forloop.counter}}. {{obj.questionText}}</p>
      {% if obj.questionImage %}
      <div class="conatiner">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8">
        <img src="{{ obj.questionImage.url }}">
      </div>
        <div class="col-2"></div>
        </div>
      </div>
        <br><br>
      {% endif %}
      <div class="custom-control custom-radio mb-3" style="margin-left: 1%;">
        <input  value="A" type="radio" class="custom-control-input" id="aca-{{obj.qid}}" name="{{obj.qid}}">
        <label class="custom-control-label text-body" for="aca-{{obj.qid}}">{{obj.option1}}</label>
      </div>
      <div   class="custom-control custom-radio mb-3" style="margin-left: 1%;">
        <input  value="B" type="radio" class="custom-control-input" id="acb-{{obj.qid}}" name="{{obj.qid}}">
        <label class="custom-control-label text-body" for="acb-{{obj.qid}}">{{obj.option2}}</label>
       
      </div>
      <div   class="custom-control custom-radio mb-3" style="margin-left: 1%;">
          <input value="C" type="radio" class="custom-control-input" id="acc-{{obj.qid}}" name="{{obj.qid}}">
          <label class="custom-control-label text-body" for="acc-{{obj.qid}}">{{obj.option3}}</label>
          
        </div>
        <div class="custom-control custom-radio mb-3" style="margin-left: 1%;">
          <input   value="D" type="radio" class="custom-control-input" id="acd-{{obj.qid}}" name="{{obj.qid}}">
          <label class="custom-control-label text-body" for="acd-{{obj.qid}}">{{obj.option4}}</label>
          
        </div>
        <br><br>
     
      
        {% endfor %} 
  
        
    
        <button type="submit" class="btn btn-block btn-outline-primary">Submit</button>
    </form>
  
  </div>
  <style>
    img
    {
      width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 300px;
    display: block; /* remove extra space below image */

  }
</style>

<script type="text/javascript">

  if(localStorage.getItem("total_seconds"))
  {
    var total_seconds = localStorage.getItem("total_seconds");
  } 
  else 
  {var total_seconds = 60*{{ashu_time}};}


  hour = parseInt(total_seconds/3600);
  minutes = parseInt((total_seconds%3600)/60);
  seconds = parseInt((total_seconds%3600)%60);
  function countDownTimer()
  {

      if(seconds < 10)
      {
          seconds= "0"+ seconds ;
      }
      if(minutes < 10)
      {
          minutes= "0"+ minutes ;
      }
      if(hour<10)
      {
        hour= "0"+hour;
      }
      
      document.getElementById("quiz-time-left").innerHTML = hour+" : "+minutes+" : "+seconds;
      if(total_seconds <= 0)
      {
        document.getElementById("ashishform").submit();
      }
      else
      {
          total_seconds = total_seconds -1 ;
          hour = parseInt(total_seconds/3600);
          minutes = parseInt((total_seconds%3600)/60);
          seconds = parseInt((total_seconds%3600)%60);
          localStorage.setItem("total_seconds",total_seconds)
          setTimeout("countDownTimer()",1000);
      }
  }
  setTimeout("countDownTimer()",1000);

  
function finishpage()
{
  alert("unload event detected!");
  document.quiz.submit();
}
window.onbeforeunload = function() 
{
  setTimeout('document.quiz.submit()',1);
}

</script>
{% endblock%}
